#SBT
target
project/target
project/project

# Mac
.DS_Store

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings
.cache

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history

#latex
bitemporal.aux
bitemporal.log
bitemporal.pdf
